@font-face {
    font-family: "Minecraft";
    src: url("MinecraftRegular.otf");
    font-style: normal;
}
@font-face {
    font-family: "Minecraft";
    src: url("MinecraftBold.otf");
    font-weight: bold;
}
@font-face {
    font-family: "Minecraft";
    src: url("MinecraftItalic.otf");
    font-style: italic;
}
@font-face {
    font-family: "Minecraft";
    src: url("MinecraftBoldItalic.otf");
    font-style: bold;
    font-style: italic;
}
body {
    margin: 0;
    background-image: url("stone.webp");
    font-family: "Minecraft";
    max-width: 100%;
    max-height: 100%;
}
h1 {
    margin-top: .1em;
    margin-bottom: .1em;
}
p, ul {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}
button {
    width: fit-content;
    font-family: "Minecraft";
}
input {
    margin-bottom: .7em;
    font-family: "Minecraft";
}
.main-container {
    display: flex;
    height: 100vh;
}
.whitelist-form {
    display: flex;
    flex-direction: column;
    width: 500px;
    flex: 1 1 auto;
    overflow: auto;
    padding: 1em;
}
.error {
    color: red;
}
#map {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}
